body {background-color: aquamarine;background-image: url(vlocka.webp);background-size: 200px 200px ;background-repeat: repeat-y;background-position: center;}
h1 {color: red;text-align: right;}
h3 {text-align: center;color: blueviolet; }
p {text-align: justify;}