body{background-color: #ff0000;background-image: url(images/Nepomenovaný.png);background-repeat: repeat-X;font-family: monospace;background-attachment: fixed;color: green;}
h1{color: aliceblue;text-align: center;}
h2{text-align: right;}
h3{color: aquamarine;}