body {background-color: rgb(243, 243, 135); font-family: Verdana, Geneva, Tahoma, sans-serif;}
p {text-align: justify;}
h1 {color: blue; text-align: center;}
h3 {color: green; text-align: left;}
ul {list-style: upper-roman;}
img {float: right; border: 5px solid #ff9900; margin-left: 10px;}
