body {background-color: lightblue; font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1 {color: orange; text-align: center;}
ul {list-style: circle;}
ul ol {list-style: lower-alpha;}
ul ol ul {list-style: url(Nepomenovaný2.png);}
dt {color: green; font-weight: bold;}
dd {font-style: italic;}