body {background-color:aqua;font-family:Verdana, Geneva, Tahoma, sans-serif;background-image: url(vystatr.gif); background-position: right top;background-repeat: no-repeat;}
ol ul {list-style: square;}
h2 {color:orange;text-align:center;}
p {text-align: justify;}
h3 {color:blue;text-align: left;}